package conf
{{/* gotype: github.com/go-keg/keg/cmd/codegen/new.Config */}}
import (
    "github.com/go-keg/keg/contrib/config"
)

type {{.Service.PascalCase}} struct {
    Key    string
    Server struct {
        Http config.Server{{if .UseGRPC}}
        Grpc config.Server{{end}}
    }
    Data struct {
        Database           config.Database
        Kafka              config.Kafka
        KafkaConsumerGroup config.KafkaConsumerGroup
    }
    Trace struct {
        Endpoint string
    }
    Log config.Log
}

func Load(path string) *{{.Service.PascalCase}} {
    var cfg {{.Service.PascalCase}}
    config.Load(path, &cfg)
    return &cfg
}
