key: "${APP_KEY}"
{{/* gotype: github.com/go-keg/keg/cmd/codegen/new.Config */}}
trace:
    endpoint: "${TRACE_ENDPOINT}"

server:
    http:
        addr: 0.0.0.0:8080
        timeout: 30s{{if .UseGRPC}}
    grpc:
        addr: 0.0.0.0:8081
        timeout: 30s{{end}}
data:
    database:
        driver: "mysql"
        dsn: "{{"${"}}{{.DB.PascalCase | toUpper}}_DB_DSN)"
        maxIdleConns: 20
        maxOpenConns: 40
        connMaxLifetime: 5m
log:
    dir: "./logs/"
    level: "debug"
    maxAge: 30       # day
    rotationTime: 1  # day
