package graphql
{{/* gotype: github.com/go-keg/keg/cmd/codegen/new.Config */}}
//go:generate go run -mod=mod ../../../../data/{{.DB.KebabCase}}/ent/entc.go
//go:generate go run -mod=mod github.com/99designs/gqlgen

