package service
{{/* gotype: github.com/go-keg/keg/cmd/codegen/new.Config */}}
import (
    "github.com/google/wire"{{if .UseGraphQL}}
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/service/graphql"{{end}}
)

var ProviderSet = wire.NewSet({{if .UseGraphQL}}graphql.NewSchema{{end}})
