//go:build wireinject
// +build wireinject

package main
{{/* gotype: github.com/go-keg/keg/cmd/codegen/new.Config */}}
import (
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/conf"
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/data"
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/job"
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/schedule"
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/server"{{if .UseGraphQL}}
    "{{.PkgName}}/internal/app/{{.Service.KebabCase}}/service"{{end}}

    "github.com/go-kratos/kratos/v2"
    "github.com/go-kratos/kratos/v2/log"
    "github.com/google/wire"
)

func initApp(*conf.{{.Service.PascalCase}}, log.Logger) (*kratos.App, func(), error) {
    panic(wire.Build(data.ProviderSet, job.ProviderSet, schedule.ProviderSet, server.ProviderSet,{{if .UseGraphQL}} service.ProviderSet,{{end}} newApp))
}